body{
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-image: url(../image/Vinove2.jpg); 
	background-position: center;
	height: 100vh;opacity: 0.9;
	/*background-repeat:no-repeat;*/
}
.main{
	width:360px;
	margin:auto;
	padding:200px;

}
.container{
	position: relative;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	border-radius: 30px;



}
.container input{
	background: #f2f2f2
    font: sans-serif;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;

}
 .container button{
	width:100%;
	outline: 0;
	border:0;
	cursor: pointer;
	font-size: 15px;
	padding: 15px;
    background: aquamarine;

}
 .container p{
	margin-top: 30px;
}
.container i{
	position:absolute;
	font-size: 30px;
	padding-top: 10px;
	

}

